/* Variabili colori */

:root{
    --main: #03045e;
    --sec: #023e8a;
    --acc: #0077b6;
    --terz: #00b4d8;
    --quart: #48cae4;
    
}


/* Font per tutto */
* {
font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "width" 100;
};


/* Font per i titoli */
h1,h2,h3,h4,h5,h6{
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* Inizio parte Mattia */

.NavBar .navbar-brand img.LogoPagina {
    width: 90px;
    height: 130px;
    margin-left: 10px;
}

.NavBar {
    background: linear-gradient(90deg, var(--main), var(--acc), var(--main));;
    height: 140px;
}

.NavBar .navbar-nav .nav-link {
    color: var(--quart) ;
    font-size: 1.7rem;
    display: flex;
    font-weight: bold
    
}

.NavBar .dropdown-toggle {
    color: var(--main) ;
    font-size: 1.2rem;
}

.NavBar .dropdown-item {
    color: var(--main);
    font-size: 1.1rem;
    font-weight: bold
}

.NavBar .logoCarrello{
    margin-right: 50px;
    color: var(--acc);
}

.NavBar .logoCarrello:hover {
    transform: scale(1.2) rotate(10deg);
    color: white;
    text-shadow: 0 0 10px var(--quart);
    transition: all 0.3s ease;
}


#CercaPer{
  color: var(--terz);
  font-weight: bold
}

#Annunci{
  color: var(--terz);
  font-weight: bold
}

.accordion-button{
  background-color: var(--terz);
  color: black;
  font-weight: bold
}

.accordion-collapse{
  background-color: var(--quart);
  color:black;
  font-weight: bold
}

.form-check-input:checked {
    background-color: var(--main);
    border-color: var(--main);
}

hr{
  color: var(--terz);
}

.img-Stadio{
  border-radius: 15px;
  width: 100px;
  margin-bottom: 5px;
  margin-top: 5px;

}

#firstNumber{
  color: var(--main);
  font-weight: bold;
  font-size: 30px;
  
}

#secondNumber{
  color: var(--main);
  font-weight: bold;
  font-size: 30px;
}

#thirdNumber{
  color: var(--main);
  font-weight: bold;
  font-size: 30px;
}

#titolonumeri{
  color: var(--main);
  font-weight: bold;
  font-size: 30px;
}

p{
  color: var(--main);
  font-weight: bold;
}

.containernumeri{
  background-color: var(--quart);
  border-radius: 15px;
}


































































































/* Fine parte Mattia */

/* Inizio Marco */

.btn-celeste{
    background-color: var(--terz);
    color: white;
    border: none;
}

.btn-celeste:hover{
    background-color: var(--acc);
    color: white;
}


@keyframes slides {
  0% {background-position: 0%;}
  100% {background-position: 200%}
}


.tempo-sconti{
  background: linear-gradient(90deg, var(--main), var(--acc), var(--main));
  background-size: 200%;
  animation: slide 3s linear infinite;
  letter-spacing: 1px;

}

.tempo-sconti h4{
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}


#countdown {
  font-size: 1.5rem;
  background: rgba(0,0,0,0.3);
  padding: 2px 12px;
  border-radius: 8px;
  letter-spacing: 3px;
  color: var(--quart);
}














































































































/* Fine carbonara */
/* inizio davide*/
body {
      background-color: #000;
      color: white;
    }

    .card-prodotto {
      background: #111;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      transition: 0.4s;
      position: relative;
    }

    .card-prodotto:hover {
      transform: translateY(-10px) scale(1.03);
      box-shadow: 0 0 20px var(--terz);
    }

    .card-prodotto img {
      transition: 0.4s;
    }

    .card-prodotto:hover img {
      transform: scale(1.1);
    }

    .prezzo-vecchio {
      text-decoration: line-through;
      color: gray;
    }

    .prezzo-nuovo {
      color: var(--quart);
      font-weight: bold;
      font-size: 1.3rem;
    }

    .badge-sconto {
      position: absolute;
      top: 10px;
      left: 10px;
      background: var(--terz);
      color: black;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: bold;
    }
  
    .btnCompra{
      background-color: var(--sec);
      color: white;
      font-size: 25px;
      border-radius: 15px;
    }
