/* Variabili colori */

:root{
    --main: #03045e;
    --sec: #023e8a;
    --acc: #0077b6;
    --terz: #00b4d8;
    --quart: #48cae4;
    
}


/* Font per tutto */
* {
font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "width" 100;
};


/* Font per i titoli */
h1,h2,h3,h4,h5,h6{
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* Inizio parte Mattia */

.NavBar .navbar-brand img.LogoPagina {
    width: 90px;
    height: 130px;
    margin-left: 10px;
}

.NavBar {
    background-color: var(--terz) !important;
    height: 140px;
}

.NavBar .navbar-nav .nav-link {
    color: var(--main) !important;
    font-size: 1.7rem;
    display: flex;
    
}

.NavBar .dropdown-toggle {
    color: var(--main) !important;
    font-size: 1.2rem;
}

.NavBar .dropdown-item {
    color: var(--main);
    font-size: 1.1rem;
}

.NavBar .logoCarrello{
    margin-right: 50px;
    
}










































































































/* Fine parte Mattia */

/* Inizio Marco */

.btn-celeste{
    background-color: var(--terz);
    color: white;
    border: none;
}

.btn-celeste:hover{
    background-color: var(--acc);
    color: white;
}



















































































































/* Fine Marco */
/* inizio davide*/
body {
      background-color: #000;
      color: white;
    }

    .card-prodotto {
      background: #111;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      transition: 0.4s;
      position: relative;
    }

    .card-prodotto:hover {
      transform: translateY(-10px) scale(1.03);
      box-shadow: 0 0 20px var(--terz);
    }

    .card-prodotto img {
      transition: 0.4s;
    }

    .card-prodotto:hover img {
      transform: scale(1.1);
    }

    .prezzo-vecchio {
      text-decoration: line-through;
      color: gray;
    }

    .prezzo-nuovo {
      color: var(--quart);
      font-weight: bold;
      font-size: 1.3rem;
    }

    .badge-sconto {
      position: absolute;
      top: 10px;
      left: 10px;
      background: var(--terz);
      color: black;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: bold;
    }
  
    .btnCompra{
      background-color: var(--sec);
      color: white;
      font-size: 25px;
      border-radius: 15px;
    }
